.project{
    color: lightblue;
}


.id {
    cursor: pointer;
    text-decoration: underline;
}

table{
    font-size: large;
}

button {
    margin-right: 10px;
    margin-left: 10px;

}

.projecttitle{
    color: lightblue
}
.company{
    color: rgb(141, 253, 229);
}

.cost {
    color: #f8edeb
}

.members {
    color: #fcd5ce
}

.gpa {
    color: #f9dcc4
}

.id:hover{
    color:blue;
}