.project{
    cursor: pointer;
    color: lightblue;
    text-decoration: underline;
}



.projecttitle{
    color: lightblue;
}
.company{
    color: rgb(141, 253, 229);
}

.project:hover{
    color:blue;
}